@font-face {
  font-family: "NanumGothicBold";
  src: url("assets/fonts/NanumGothicBold.ttf") format("truetype");
}

@font-face {
  font-family: "AritaBuriM";
  src: url("assets/fonts/Arita-buriM.otf") format("opentype");
}
html {
  height: 100%;
}

a {
  text-decoration: none;
}

body {
  font-family: "AritaBuriM", Arial, sans-serif;
  background-color: black;
  background: rgb(239, 194, 129);
  background: linear-gradient(
    0deg,
    rgba(239, 194, 129, 1) -85%,
    rgba(0, 0, 0, 1) 25%
  );
}

body h1 {
  color: #efc281;
  font-weight: bold;
}

body h5 {
  color: #efc281;
  font-weight: bold;
  text-align: center;
}

body h2 {
  color: #efc281;
  font-weight: bold;
}

p {
  color: #efc281;
  max-width: 60%;
  text-align: justify;
  text-justify: inter-word;
}

.flex-container-hutao img {
  max-width: 60%;
}

.input-id {
  width: 65%;
  padding: 12px;
  border: 3px solid #efc281;
  margin-bottom: 2%;
  border-radius: 20px;
  font-size: 16px;
  outline: none;
  background-color: #fff;
  color: #333;
  transition: all 0.3s ease;
}

.card {
  background-color: black;
  border: 4px solid #efc281;
  border-radius: 0;
  transition: all 0.32s ease;
  color: white;
}

.opsi {
  margin-left: -15%;
}

.opsi .bayar .card {
  background-color: white;
  border: 5px solid #efc281;
  border-radius: 20px;
  transition: all 0.32s ease;
  width: 15.1vh;
  height: 12vh;
  color: black;
}

.bayar .card-input-element:checked + .card-input {
  border: 5px solid white;
  color: black;
  background-color: #efc281;
  box-shadow: 0 0 10px white;
}

.opsi .card {
  background-color: black;
  border: 3px solid #efc281;
  border-radius: 20px;
  transition: all 0.32s ease;
  width: 24vh;
  height: 12vh;
  color: white;
}
.card-header {
  font-size: larger;
  font-weight: bold;
}

.opsi .card-body {
  margin-top: -6%;
}

.furina {
  background-color: #efc281;
  border: 3px solid #efc281;
  border-radius: 10px;
  transition: all 0.32s ease;
  width: 24vh;
  font-weight: bold;
  height: 6vh;
  color: black;
  margin-left: 1%;
  margin-top: 2%;
}

.furina:hover {
  border: 3px solid #22fee3;
  background-color: #22fee3;
  box-shadow: 0 0 25px rgba(34, 254, 227, 0.8);
  scale: 1.05;
  transition: all 0.32s ease;
}

.card:hover {
  border: 3px solid #22fee3;
  box-shadow: 0 0 25px rgba(34, 254, 227, 0.8);
  scale: 1.15;
  transition: all 0.32s ease;
}

.opsi .card:hover {
  border: 3px solid #22fee3;
  box-shadow: 0 0 25px rgba(34, 254, 227, 0.8);
  scale: 1.1;
  transition: all 0.3s ease;
}
.opsi .bayar .card:hover {
  border: 5px solid #22fee3;
  box-shadow: 0 0 25px rgba(34, 254, 227, 0.8);
  scale: 1.1;
  transition: all 0.3s ease;
}

.card-input-element {
  display: none;
}

.card-input {
  margin: 10px;
  padding: 0px;
}

.card-input:hover {
  cursor: pointer;
}

.card-input-element:checked + .card-input {
  border: 3px solid #efc281;
  color: black;
  background-color: #efc281;
  box-shadow: 0 0 10px #efc281;
}

.card img {
  max-width: 100%;
  border-radius: 0;
  max-height: 10rem;
}

.flex-container {
  display: flex;
  margin-top: 1.4%;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: space-between;
}

.flex-container-furina {
  display: flex;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: space-between;
}

.flex-container-mika {
  flex-direction: column;
  display: flex;
  margin-top: 4%;
  margin-left: 5%;
  margin-right: 5%;
  align-items: center;
  justify-content: center;
}

.flex-container-hutao {
  display: flex;
  justify-content: space-evenly;
  margin-left: 10%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: -1%;
}

.search-input-wrapper {
  display: flex;
  align-items: center;
  border: 4px solid #efc281;
  padding-right: 8px;
  width: 50%;
}

.search-input {
  width: 100%;
  padding: 12px;
  border: none;
  font-size: 16px;
  outline: none;
  background-color: #fff;
  color: #333;
  transition: all 0.3s ease;
}

.search-btn {
  background-color: transparent;
  border: none;
  color: #efc281;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s ease, text-shadow 0.3s ease;
  margin-left: 10px;
}

.search-btn:hover {
  color: #22ffe4;
  text-shadow: 0 0 10px rgba(34, 254, 227, 1);
}

.search-input:hover,
.search-input:focus {
  border-color: #22ffe4;
  box-shadow: 0 0 10px rgba(34, 254, 227, 0.8);
}

.search-input:focus {
  background-color: #fff;
}

.top-left-img,
.top-right-img {
  position: absolute;
  top: 11%;
  z-index: -1;
}

.left-img,
.right-img {
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.left-img,
.top-left-img {
  left: 0;
}

.right-img,
.top-right-img {
  right: 0;
}

.sidebar-active .left-img,
.sidebar-active .right-img {
  bottom: 50px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 20%;
  background-image: url("assets/images/sidebar.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1000;
}

.sidebar.show {
  transform: translateX(0);
}

.sidebar .menu {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar .logout {
  margin-top: auto;
  width: 80%;
  text-align: center;
  background-image: url("assets/images/logout.png");
  background-size: cover;
  background-position: center;
}

.toggle-btn {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 1100;
  cursor: pointer;
  width: 60px;
  height: 60px;
  background-image: url("assets/images/menu.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  transition: left 0.3s ease;
}

.toggle-btn.clicked {
  background-color: transparent;
}

.toggle-btn:focus {
  outline: none;
  background-color: transparent;
}

.sidebar .menu .nav-link,
.sidebar .logout a {
  color: #efc281;
  font-size: 21px;
  font-family: "NanumGothicBold";
  text-shadow: 0px 0px 6px rgba(239, 194, 129, 0.8);
  font-weight: bold;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.sidebar .menu .nav-link:hover,
.sidebar .logout a:hover {
  color: #22fee3;
  text-shadow: 0px 0px 8px rgba(34, 254, 227, 1);
}

.sidebar.show + .toggle-btn {
  transition: left 0.3s ease;
  border: none;
  scale: 1.3;
  left: 16.5%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 900;
}

.overlay.show {
  display: block;
}
